.config-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.config-section3 {
  width: 100%;
  height: 1002px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #263b82;
}
.config-container1 {
  width: 631px;
  height: 405px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.config-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.config-container3 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1320px;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.config-text {
  font-style: normal;
  font-weight: 700;
}
.config-contact {
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: center;
}
.config-text1 {
  top: 15px;
  left: -118px;
  color: var(--dl-color-gray-white);
  width: 250px;
  bottom: var(--dl-space-space-halfunit);
  position: absolute;
  align-self: stretch;
}
.config-form {
  top: 124px;
  left: 93px;
  width: 460px;
  height: 138px;
  margin: auto;
  display: flex;
  position: absolute;
  max-width: 700px;
  align-items: center;
  padding-top: var(--dl-space-space-twoandhalf);
  padding-left: 44px;
  border-radius: var(--dl-radius-radius-radius50);
  padding-right: 102px;
  flex-direction: row;
  padding-bottom: 38px;
  justify-content: flex-start;
  background-color: var(--dl-color-pimary-800);
}
.config-checkbox {
  top: 30px;
  left: 39px;
  position: absolute;
}
.config-text2 {
  top: 19px;
  left: 69px;
  color: rgb(0, 0, 0);
  margin: auto;
  position: absolute;
  align-self: flex-start;
  font-style: normal;
  font-family: Nunito;
  font-weight: 700;
  line-height: 2;
}
.config-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.config-dropdown-toggle {
  top: -16px;
  fill: #595959;
  left: 25px;
  color: #595959;
  width: 130px;
  display: inline-flex;
  position: absolute;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #263b82;
  border-width: 0.01px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 2px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.config-text3 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: Nunito;
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
}
.config-dropdown-arrow {
  transition: 0.3s;
}
.config-icon {
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.config-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.config-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.config-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.config-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.config-text4 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.config-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.config-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.config-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.config-text5 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.config-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
.config-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 4px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.config-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.config-text6 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.config-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 2px;
}
@media(max-width: 991px) {
  .config-section3 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .config-container3 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .config-form {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .config-text1 {
    text-align: center;
  }
}
