<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add user</title>
    <meta charset="UTF-8">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet" />
</head>
<body>

<form action="#" th:action="@{/v1/memorygymbot/words/delete}" th:object="${word}" method="post">
    <div class="title">Delete word</div>
    <div class="input-container ic1">
        <input id="ita" class="input" type="text" th:field="*{ita}" placeholder=" " />
        <div class="cut"></div>
        <label for="ita" class="placeholder">Ita</label>
    </div>
    <input id="chatId" class="input" type="hidden" th:field="*{chatId}" th:value="${word.chatId}" />
    <input type="submit" value="Submit" class="submit"/>
</form>

</body>
</html>